@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply bg-slate-100
}
.btn1 {
    --color: red;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.2em;
    line-height: 2.3em;
    overflow: hidden;
    cursor: pointer;
    margin: 17px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 8px;
    position: relative;
}

.btn1::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.btn1:hover {
    color: white;
}

.btn1:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.btn1:hover::before {
    top: -30px;
    left: -30px;
}
.red{
    background-color: red;
}
.test1{
    margin-left: 70px;
}